body {
    max-width: 1920px;
    display: flex;
    flex-direction: column;

}

h2 {
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 20px;
}

main {
    display: flex;
}

.headlineicon-navbar {
    height: 150px;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

}

.headlineicon-navbar img {
    height: 90px;
    padding-left: 25px;
}

.headlineicon-navbar nav {
    height: 50px;
    width: 50px;
}

.burgermenu {
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    margin-right: 60px;
}

.burgermenu span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
}

.left-side-container {
    width: 80%;
}

.head-img-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}


.head-img-order {
    height: 260px;
    width: 100%;
    object-fit: cover;
}

.overflow-img {
    height: 190px;
    border-radius: 75px;
    min-inline-size: fit-content;
    position: absolute;
    top: 65%;
}

.title-overflow-img {
    margin-top: 43px;
    padding-left: 25px;
    padding-bottom: 25px;
    font-weight: bold;
    font-size: 25px;
}

.navigation-food {
    margin-bottom: 25px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #ebebeb;
    padding-left: 25px;
}

.main-section {
    padding-left: 25px;
}

.main-section img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.main-dishes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 0 5px 0;
    border-style: solid;
    position: relative;
    border-color: #ebebeb;
    box-shadow: 0px 0px 5px 2px rgb(153 153 153 / 48%);
}



.main-dishes div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5px;

}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 25px;
}

.add-count {
    height: 25px;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(2px, -2.5px);
    background: none;
    border-color: #ebebeb;
    font-size: 20px;
    color: orange;
    font-weight: bold;

}

.add-count:hover {
    background-color: orange;
    color: black;
    cursor: pointer;
}

.main-dishes-price {
    color: orange;
    font-weight: bold;
}



.bascet-headline {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 20px;
    border-width: 2px;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
}